.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
*.log
*.tfvars
*.tfvars.json
*.iso
*.ova
*.ovf
*.vmdk
.terraformrc
terraform.rc
.env
.env.*
!.env.example
.DS_Store
