vsphere_server = "vcenter.example.local"
vsphere_user   = "administrator@vsphere.local"
vsphere_password = "CHANGE_ME"

name           = "pa-vmseries-01"
datacenter     = "DC1"
cluster_name   = "Cluster01"
host_name      = "esxi-01.example.local"
datastore_name = "vsanDatastore"
folder         = "Network/Security"
ova_local_path = "/opt/images/PA-VM-ESX.ova"

network_interfaces = [
  { ovf_label = "VM Network", ovf_mapping = "Ethernet 1", network_name = "PG-MGMT" },
  { ovf_label = "VM Network", ovf_mapping = "Ethernet 2", network_name = "PG-UNTRUST" },
  { ovf_label = "VM Network", ovf_mapping = "Ethernet 3", network_name = "PG-TRUST" }
]

mgmt_ip_address      = "10.10.10.51"
mgmt_default_gateway = "10.10.10.1"
mgmt_netmask         = "255.255.255.0"
dns_primary          = "10.10.10.10"
dns_secondary        = "10.10.10.11"

panorama_server = "10.10.20.10"
template_stack  = "TS-VMWARE"
device_group    = "DG-VMWARE"

bootstrap_vm_auth_key = "CHANGE_ME"
bootstrap_license_authcodes = "AUTHCODE1\nAUTHCODE2\n"
